In [1]:
import pandas as pd

In [2]:
# Load the dataset
df=pd.read_csv('sales data.csv')

In [3]:
# Display the first few rows of the dataset
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Cost,Price,Profit,Quantity,Sales
0,1,CA-2017-152156,8/11/17,11/11/17,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,464.48,901.06,436.58,4,3604.243977
1,2,CA-2017-152156,8/11/17,11/11/17,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",756.10,138.70,-617.40,12,1664.369269
2,3,CA-2017-138688,12/6/17,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,537.68,159.28,-378.40,12,1911.397750
3,4,US-2016-108966,11/10/16,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,875.91,445.88,-430.03,13,5796.463018
4,5,US-2016-108966,11/10/16,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,187.17,137.59,-49.58,19,2614.284944

In [4]:
# Perform basic analysis on the dataset
# For example, calculate the total sales
total_sales = df['Sales'].sum()
print("Total Sales: $", total_sales)

Total Sales: $ 63738454.182211734

In [5]:
# Calculate the average profit
average_profit = df['Profit'].mean()
print("Average Profit: $", average_profit)

Average Profit: $ 0.014970408163263813

In [6]:
# Get summary statistics of the numerical columns
print(df.describe())

            Row ID   Postal Code         Cost        Price       Profit  \
count  9800.000000   9789.000000  9800.000000  9800.000000  9800.000000
mean   4900.500000  55273.322403   501.552611   501.567655     0.014970
std    2829.160653  32041.223413   288.124739   287.176206   407.314218
min       1.000000   1040.000000     1.320000     1.060000  -978.860000
25%    2450.750000  23223.000000   251.565000   252.965000  -290.637500
50%    4900.500000  58103.000000   502.730000   503.710000    -2.520000
75%    7350.250000  90008.000000   750.460000   744.435000   284.222500
max    9800.000000  99301.000000   999.880000   999.920000   994.500000

          Quantity         Sales
count  9800.000000   9800.000000
mean     12.967551   6503.923896
std       7.241294   5614.159051
min       1.000000      3.401739
25%       7.000000   1880.221919
50%      13.000000   4892.063281
75%      19.000000   9876.885336
max      25.000000  24973.493980

In [7]:
# Filter the dataset based on a condition
filtered_data = df[df['Segment'] == 'Consumer']
print("Filtered Data:")
print(filtered_data.head())

Filtered Data:
   Row ID        Order ID Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156    8/11/17    11/11/17    Second Class    CG-12520
1       2  CA-2017-152156    8/11/17    11/11/17    Second Class    CG-12520
3       4  US-2016-108966   11/10/16  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966   11/10/16  18/10/2016  Standard Class    SO-20335
5       6  CA-2015-115812     9/6/15  14/06/2015  Standard Class    BH-11710

     Customer Name   Segment        Country             City  ... Region  \
0      Claire Gute  Consumer  United States        Henderson  ...  South
1      Claire Gute  Consumer  United States        Henderson  ...  South
3   Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...  South
4   Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...  South
5  Brosina Hoffman  Consumer  United States      Los Angeles  ...   West

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage
5  FUR-FU-10001487        Furniture  Furnishings

                                        Product Name    Cost   Price  Profit  \
0                  Bush Somerset Collection Bookcase  464.48  901.06  436.58
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  756.10  138.70 -617.40
3      Bretford CR4500 Series Slim Rectangular Table  875.91  445.88 -430.03
4                     Eldon Fold 'N Roll Cart System  187.17  137.59  -49.58
5  Eldon Expressions Wood and Plastic Desk Access...  795.60  162.16 -633.44

   Quantity        Sales
0         4  3604.243977
1        12  1664.369269
3        13  5796.463018
4        19  2614.284944
5        19  3081.066152

[5 rows x 22 columns]

In [8]:
# Group the data by a specific column and calculate aggregated statistics
grouped_data = df.groupby('Category').agg({'Sales': 'sum', 'Profit': 'mean'})
print("Grouped Data:")
print(grouped_data)

Grouped Data:
                        Sales     Profit
Category
Furniture        1.344672e+07  -9.201776
Office Supplies  3.821741e+07  -1.389738
Technology       1.207432e+07  15.157176

In [9]:
#Adding a new column to the DataFrame:
df['Profit Margin'] = (df['Profit'] / df['Sales']) * 100
print(df.head())

   Row ID        Order ID Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156    8/11/17    11/11/17    Second Class    CG-12520
1       2  CA-2017-152156    8/11/17    11/11/17    Second Class    CG-12520
2       3  CA-2017-138688    12/6/17  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966   11/10/16  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966   11/10/16  18/10/2016  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name    Cost   Price  Profit  \
0                  Bush Somerset Collection Bookcase  464.48  901.06  436.58
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  756.10  138.70 -617.40
2  Self-Adhesive Address Labels for Typewriters b...  537.68  159.28 -378.40
3      Bretford CR4500 Series Slim Rectangular Table  875.91  445.88 -430.03
4                     Eldon Fold 'N Roll Cart System  187.17  137.59  -49.58

   Quantity        Sales  Profit Margin
0         4  3604.243977      12.112942
1        12  1664.369269     -37.095133
2        12  1911.397750     -19.797031
3        13  5796.463018      -7.418835
4        19  2614.284944      -1.896503

[5 rows x 23 columns]

In [10]:
#Filtering rows based on multiple conditions:
filtered_data = df[(df['Region'] == 'West') & (df['Category'] == 'Furniture')]
print(filtered_data.head())

     Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
5         6  CA-2015-115812      9/6/15  14/06/2015  Standard Class
10       11  CA-2015-115812      9/6/15  14/06/2015  Standard Class
24       25  CA-2016-106320  25/09/2016  30/09/2016  Standard Class
65       66  CA-2016-135545  24/11/2016  30/11/2016  Standard Class
104     105  US-2016-156867  13/11/2016  17/11/2016  Standard Class

    Customer ID    Customer Name   Segment        Country         City  ...  \
5      BH-11710  Brosina Hoffman  Consumer  United States  Los Angeles  ...
10     BH-11710  Brosina Hoffman  Consumer  United States  Los Angeles  ...
24     EB-13870      Emily Burns  Consumer  United States         Orem  ...
65     KM-16720     Kunst Miller  Consumer  United States  Los Angeles  ...
104    LC-16870    Lena Cacioppo  Consumer  United States       Aurora  ...

          Product ID   Category Sub-Category  \
5    FUR-FU-10001487  Furniture  Furnishings
10   FUR-TA-10001539  Furniture       Tables
24   FUR-TA-10000577  Furniture       Tables
65   FUR-FU-10000397  Furniture  Furnishings
104  FUR-FU-10004006  Furniture  Furnishings

                                          Product Name    Cost   Price  \
5    Eldon Expressions Wood and Plastic Desk Access...  795.60  162.16
10            Chromcraft Rectangular Conference Tables  742.20  747.27
24       Bretford CR4500 Series Slim Rectangular Table  202.83  797.24
65                         Luxo Economy Swing Arm Lamp  145.26  413.09
104  Deflect-o DuraMat Lighweight, Studded, Beveled...  135.90  281.59

     Profit  Quantity         Sales  Profit Margin
5   -633.44        19   3081.066152     -20.559117
10     5.07        15  11209.082860       0.045231
24   594.41        22  17539.294870       3.389019
65   267.83         2    826.180006      32.417875
104  145.69        17   4787.051652       3.043418

[5 rows x 23 columns]

In [11]:
# Check for missing values
print(df.isnull().sum())

# Drop rows with missing values
df.dropna(inplace=True)

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Cost              0
Price             0
Profit            0
Quantity          0
Sales             0
Profit Margin     0
dtype: int64

In [12]:
#Performing date/time operations:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Cost,Price,Profit,Quantity,Sales,Profit Margin
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,464.48,901.06,436.58,4,3604.243977,12.112942
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",756.10,138.70,-617.40,12,1664.369269,-37.095133
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,537.68,159.28,-378.40,12,1911.397750,-19.797031
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,875.91,445.88,-430.03,13,5796.463018,-7.418835
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,187.17,137.59,-49.58,19,2614.284944,-1.896503

In [13]:
#Analyzing sales trends over time:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Month'] = df['Order Date'].dt.month
monthly_sales = df.groupby('Month')['Sales'].sum()
monthly_sales

Month
1     3.838679e+06
2     3.371497e+06
3     5.123077e+06
4     4.366205e+06
5     5.622306e+06
6     4.351000e+06
7     4.610228e+06
8     5.358837e+06
9     7.228462e+06
10    5.210890e+06
11    7.773593e+06
12    6.830768e+06
Name: Sales, dtype: float64

In [14]:
#Customer segmentation analysis:
customer_segmentation = df.groupby('Segment')['Sales'].sum()
customer_segmentation

Segment
Consumer       3.330431e+07
Corporate      1.872164e+07
Home Office    1.165959e+07
Name: Sales, dtype: float64

In [15]:
#Analyzing customer behavior:
customer_behavior = df.groupby('Customer ID')['Sales'].agg(['count', 'mean', 'sum'])
customer_behavior

             count          mean            sum
Customer ID
AA-10315        11   5574.726974   61321.996711
AA-10375        15   7357.274015  110359.110224
AA-10480        12   7530.010731   90360.128769
AA-10645        18   7531.436348  135565.854270
AB-10015         6  12257.008984   73542.053904
...            ...           ...            ...
XP-21865        28   6211.236710  173914.627892
YC-21895         8   6645.466096   53163.728767
YS-21880        12   8585.750890  103029.010685
ZC-21910        31   5967.022262  184977.690137
ZD-21925         9   4269.047656   38421.428905

[793 rows x 3 columns]

In [16]:
product_performance = df.groupby('Product ID')['Sales'].agg(['count', 'sum'])
product_performance

                 count           sum
Product ID
FUR-BO-10000112      1   1233.446610
FUR-BO-10000330      3   7166.328662
FUR-BO-10000362      5  41644.300598
FUR-BO-10000468      6  38845.250996
FUR-BO-10000711      2  27032.065996
...                ...           ...
TEC-PH-10004912      2  12899.405350
TEC-PH-10004922      5  12853.216391
TEC-PH-10004924      3  29138.701841
TEC-PH-10004959      2  32360.636154
TEC-PH-10004977      9  75343.210124

[1860 rows x 2 columns]

In [17]:
# Analyze customer demographics
customer_demographics = df.groupby(['Country', 'City', 'State']).size()

In [18]:
# Print customer demographics
print("Customer demographics:")
print(customer_demographics)

Customer demographics:
Country        City         State
United States  Aberdeen     South Dakota     1
               Abilene      Texas            1
               Akron        Ohio            20
               Albuquerque  New Mexico      14
               Alexandria   Virginia        16
                                            ..
               Woonsocket   Rhode Island     4
               Yonkers      New York        15
               York         Pennsylvania     5
               Yucaipa      California       1
               Yuma         Arizona          4
Length: 599, dtype: int64

In [19]:
# Identify high-value customers based on purchase history or total sales
high_value_customers = df.groupby('Customer ID')['Sales'].sum().nlargest(10)

In [20]:
# Print high-value customers
print("\nHigh-value customers:")
print(high_value_customers)

High-value customers:
Customer ID
JL-15835    272209.275605
SV-20365    270807.205184
WB-21850    246339.934259
PP-18955    245024.019925
MA-17560    231106.264288
CL-12565    229990.590764
RP-19390    214638.388541
FH-14275    213878.768645
Dp-13240    210740.992019
JD-15895    210228.194843
Name: Sales, dtype: float64

In [21]:
# Segment customers based on buying behavior and preferences
customer_segments = df.groupby(['Segment', 'Category']).size()

In [22]:
# Print customer segments
print("\nCustomer segments:")
print(customer_segments)

Customer segments:
Segment      Category
Consumer     Furniture          1092
             Office Supplies    3068
             Technology          936
Corporate    Furniture           627
             Office Supplies    1781
             Technology          540
Home Office  Furniture           357
             Office Supplies    1054
             Technology          334
dtype: int64

In [23]:
# Identify potential customer segments for targeted marketing campaigns
potential_segments = df.groupby('Segment')['Sales'].sum().nlargest(3)

In [24]:
# Print potential customer segments
print("\nPotential customer segments:")
print(potential_segments)

Potential customer segments:
Segment
Consumer       3.330431e+07
Corporate      1.872164e+07
Home Office    1.165959e+07
Name: Sales, dtype: float64

In [25]:
# Analyze the distribution of shipping modes
shipping_modes = df['Ship Mode'].value_counts()

In [26]:
# Print the distribution of shipping modes
print("Distribution of shipping modes:")
print(shipping_modes)

Distribution of shipping modes:
Standard Class    5849
Second Class      1901
First Class       1501
Same Day           538
Name: Ship Mode, dtype: int64

In [27]:
# Determine the most commonly used shipping mode
most_common_shipping_mode = shipping_modes.idxmax()
print("\nMost commonly used shipping mode: {}".format(most_common_shipping_mode))

Most commonly used shipping mode: Standard Class

In [28]:
# Analyze sales and profit by customer segment
segment_sales_profit = df.groupby('Segment').agg({'Sales': 'sum', 'Profit': 'sum'})

In [29]:
# Sort the results by sales in descending order
segment_sales_profit = segment_sales_profit.sort_values('Sales', ascending=False)

In [30]:
# Print the sales and profit by segment
print("Sales and profit by segment:")
print(segment_sales_profit)

Sales and profit by segment:
                    Sales    Profit
Segment
Consumer     3.330431e+07  29060.43
Corporate    1.872164e+07 -31716.93
Home Office  1.165959e+07   3033.60

In [31]:
# Compare sales performance across different regions
region_sales = df.groupby('Region').agg({'Sales': 'sum'})

In [32]:
# Sort the results by sales in descending order
region_sales = region_sales.sort_values('Sales', ascending=False)

In [33]:
# Print the sales by region
print("\nSales by region:")
print(region_sales)

Sales by region:
                Sales
Region
West     1.996667e+07
East     1.835677e+07
Central  1.474192e+07
South    1.062018e+07

In [34]:
# Identify the most profitable segments and regions
most_profitable_segments = segment_sales_profit.sort_values('Profit', ascending=False)
most_profitable_regions = region_sales.sort_values('Sales', ascending=False)

In [35]:
print("\nMost profitable segments:")
print(most_profitable_segments)

Most profitable segments:
                    Sales    Profit
Segment
Consumer     3.330431e+07  29060.43
Home Office  1.165959e+07   3033.60
Corporate    1.872164e+07 -31716.93

In [36]:
print("\nMost profitable regions:")
print(most_profitable_regions)

Most profitable regions:
                Sales
Region
West     1.996667e+07
East     1.835677e+07
Central  1.474192e+07
South    1.062018e+07

In [37]:
# Identify segments or regions that need improvement
underperforming_segments = segment_sales_profit[segment_sales_profit['Sales'] < segment_sales_profit['Sales'].mean()]
underperforming_regions = region_sales[region_sales['Sales'] < region_sales['Sales'].mean()]

In [38]:
print("\nUnderperforming segments:")
print(underperforming_segments)

Underperforming segments:
                    Sales    Profit
Segment
Corporate    1.872164e+07 -31716.93
Home Office  1.165959e+07   3033.60

In [39]:
print("\nUnderperforming regions:")
print(underperforming_regions)

Underperforming regions:
                Sales
Region
Central  1.474192e+07
South    1.062018e+07

In [40]:
# Calculate total sales and profit for each category and sub-category
category_sales_profit = df.groupby(['Category', 'Sub-Category']).agg({'Sales': 'sum', 'Profit': 'sum'})

In [41]:
# Sort the results by sales in descending order
category_sales_profit = category_sales_profit.sort_values('Sales', ascending=False)

In [42]:
# Print the top-selling categories and sub-categories
top_categories = category_sales_profit['Sales'].groupby(level=0).sum().nlargest(5)
top_subcategories = category_sales_profit['Sales'].groupby(level=1).sum().nlargest(5)

In [43]:
print("Top-selling categories:")
print(top_categories)

Top-selling categories:
Category
Office Supplies    3.818804e+07
Furniture          1.343547e+07
Technology         1.206203e+07
Name: Sales, dtype: float64

In [44]:
print("\nTop-selling sub-categories:")
print(top_subcategories)

Top-selling sub-categories:
Sub-Category
Binders        9.827857e+06
Paper          8.483776e+06
Furnishings    5.938815e+06
Phones         5.873508e+06
Storage        5.289868e+06
Name: Sales, dtype: float64

In [45]:
# Analyze profitability of different categories and sub-categories
category_profitability = df.groupby(['Category', 'Sub-Category']).agg({'Profit': 'mean'})

In [46]:
# Sort the results by profitability in descending order
category_profitability = category_profitability.sort_values('Profit', ascending=False)

In [47]:
# Print the most profitable categories and sub-categories
top_profitable_categories = category_profitability['Profit'].groupby(level=0).mean().nlargest(5)
top_profitable_subcategories = category_profitability['Profit'].groupby(level=1).mean().nlargest(5)

In [48]:
print("\nMost profitable categories:")
print(top_profitable_categories)

Most profitable categories:
Category
Technology         11.937728
Office Supplies    -1.564492
Furniture          -3.715014
Name: Profit, dtype: float64

In [49]:
print("\nMost profitable sub-categories:")
print(top_profitable_subcategories)

Most profitable sub-categories:
Sub-Category
Machines       36.619391
Bookcases      25.171556
Accessories    15.950782
Phones         13.252251
Appliances      7.875044
Name: Profit, dtype: float64

In [50]:
# Identify underperforming categories
underperforming_categories = category_sales_profit['Sales'].groupby(level=0).sum().nsmallest(5)

In [51]:
print("\nUnderperforming categories:")
print(underperforming_categories)

Underperforming categories:
Category
Technology         1.206203e+07
Furniture          1.343547e+07
Office Supplies    3.818804e+07
Name: Sales, dtype: float64

In [52]:
# Analyze sales and profit trends over time (by month, year, quarter)
df['Month'] = df['Order Date'].dt.month
df['Year'] = df['Order Date'].dt.year
df['Quarter'] = df['Order Date'].dt.quarter

sales_by_month = df.groupby('Month')['Sales'].sum()
profit_by_month = df.groupby('Month')['Profit'].sum()

sales_by_year = df.groupby('Year')['Sales'].sum()
profit_by_year = df.groupby('Year')['Profit'].sum()

sales_by_quarter = df.groupby('Quarter')['Sales'].sum()
profit_by_quarter = df.groupby('Quarter')['Profit'].sum()

In [53]:
# Print sales and profit trends over time
print("Sales by Month:")
print(sales_by_month)

Sales by Month:
Month
1     3.838679e+06
2     3.371497e+06
3     5.123077e+06
4     4.366205e+06
5     5.622306e+06
6     4.351000e+06
7     4.610228e+06
8     5.358837e+06
9     7.228462e+06
10    5.210890e+06
11    7.773593e+06
12    6.830768e+06
Name: Sales, dtype: float64

In [54]:
print("\nProfit by Month:")
print(profit_by_month)

Profit by Month:
Month
1     -2203.62
2      7299.55
3    -20334.90
4      1024.78
5     21288.55
6     -5523.21
7       747.29
8      1227.87
9    -22663.76
10     4582.54
11     7846.75
12     7085.26
Name: Profit, dtype: float64

In [55]:
print("\nSales by Year:")
print(sales_by_year)

Sales by Year:
Year
2015    1.278990e+07
2016    1.318758e+07
2017    1.651983e+07
2018    2.118823e+07
Name: Sales, dtype: float64

In [56]:
print("\nProfit by Year:")
print(profit_by_year)

Profit by Year:
Year
2015     1360.81
2016     1842.40
2017   -15099.57
2018    12273.46
Name: Profit, dtype: float64

In [57]:
print("\nSales by Quarter:")
print(sales_by_quarter)

Sales by Quarter:
Quarter
1    1.233325e+07
2    1.433951e+07
3    1.719753e+07
4    1.981525e+07
Name: Sales, dtype: float64

In [58]:
print("\nProfit by Quarter:")
print(profit_by_quarter)

Profit by Quarter:
Quarter
1   -15238.97
2    16790.12
3   -20688.60
4    19514.55
Name: Profit, dtype: float64

In [59]:
# Identify seasonal patterns or trends in sales
monthly_sales_average = df.groupby('Month')['Sales'].mean()
monthly_sales_std = df.groupby('Month')['Sales'].std()

In [60]:
# Print monthly sales average and standard deviation
print("\nMonthly Sales Average:")
print(monthly_sales_average)
print("\nMonthly Sales Standard Deviation:")
print(monthly_sales_std)

Monthly Sales Average:
Month
1     6758.236822
2     6290.105972
3     6427.950655
4     6318.675405
5     6881.646942
6     6370.425114
7     6376.525786
8     6715.334288
9     6477.116585
10    6505.481215
11    6510.547238
12    6413.866740
Name: Sales, dtype: float64

Monthly Sales Standard Deviation:
Month
1     5944.515057
2     5541.363925
3     5527.772227
4     5378.635474
5     5782.931730
6     5578.329916
7     5520.816889
8     5541.099424
9     5733.926406
10    5781.790431
11    5558.734413
12    5523.492951
Name: Sales, dtype: float64

In [61]:
# Determine specific time periods with significant sales or profit fluctuations
significant_sales_periods = df.groupby('Year')['Sales'].std().nlargest(3)
significant_profit_periods = df.groupby('Year')['Profit'].std().nlargest(3)

In [62]:
# Print significant sales and profit periods
print("\nSignificant Sales Periods:")
print(significant_sales_periods)
print("\nSignificant Profit Periods:")
print(significant_profit_periods)

Significant Sales Periods:
Year
2018    5709.464378
2017    5615.498141
2015    5587.556432
Name: Sales, dtype: float64

Significant Profit Periods:
Year
2017    411.854617
2016    408.338374
2015    405.184486
Name: Profit, dtype: float64

In [63]:
# Analyze relationship between order date and ship date to identify delays or issues
df['OrderToShipDays'] = (df['Ship Date'] - df['Order Date']).dt.days
average_order_to_ship_days = df['OrderToShipDays'].mean()
max_order_to_ship_days = df['OrderToShipDays'].max()

In [64]:
# Print average and maximum order-to-ship days
print("\nAverage Order-to-Ship Days:", average_order_to_ship_days)
print("Maximum Order-to-Ship Days:", max_order_to_ship_days)

Average Order-to-Ship Days: 9.183266932270916
Maximum Order-to-Ship Days: 214

In [65]:
# Identify the best-selling products based on quantity sold
best_selling_products_quantity = df.groupby('Product ID')['Quantity'].sum().nlargest(10)

In [66]:
# Identify the best-selling products based on sales revenue
df['Revenue'] = df['Quantity'] * df['Price']  # Calculate revenue for each transaction
best_selling_products_revenue = df.groupby('Product ID')['Revenue'].sum().nlargest(10)

In [67]:
# Print the best-selling products
print("Best-selling products based on quantity sold:")
print(best_selling_products_quantity)
print("\nBest-selling products based on sales revenue:")
print(best_selling_products_revenue)

Best-selling products based on quantity sold:
Product ID
TEC-AC-10003628    225
FUR-CH-10003774    220
TEC-AC-10003832    217
OFF-PA-10001970    213
FUR-FU-10004270    203
OFF-BI-10004364    192
TEC-AC-10002049    192
OFF-BI-10004970    188
TEC-PH-10001552    187
FUR-CH-10002965    184
Name: Quantity, dtype: int64

Best-selling products based on sales revenue:
Product ID
OFF-BI-10004364    131860.68
FUR-BO-10002213    131217.89
FUR-CH-10003774    131020.94
TEC-AC-10003832    128900.72
FUR-FU-10004270    122201.00
OFF-AR-10003732    113172.79
TEC-PH-10001817    110575.02
OFF-PA-10002377    110202.16
OFF-ST-10001558    109287.93
OFF-BI-10004970    108440.39
Name: Revenue, dtype: float64

In [68]:
# Determine if there are any product categories or sub-categories that require attention or promotion
category_attention = df.groupby('Category')['Profit'].sum().nsmallest(1)
subcategory_attention = df.groupby('Sub-Category')['Profit'].sum().nsmallest(1)

In [69]:
# Print product categories and sub-categories that require attention or promotion
print("\nProduct category requiring attention:")
print(category_attention)
print("\nProduct sub-category requiring attention:")
print(subcategory_attention)

Product category requiring attention:
Category
Furniture   -18474.58
Name: Profit, dtype: float64

Product sub-category requiring attention:
Sub-Category
Furnishings   -16594.53
Name: Profit, dtype: float64

In [70]:
# Perform customer segmentation based on demographic factors
segmentation = df.groupby(['City', 'Segment', 'Customer Name']).size().reset_index(name='Count')

In [71]:
# Print the segmentation results
print("Customer Segmentation:")
print(segmentation)

Customer Segmentation:
          City      Segment    Customer Name  Count
0     Aberdeen     Consumer  Jeremy Lonsdale      1
1      Abilene     Consumer      Dennis Kane      1
2        Akron     Consumer      John Murray      1
3        Akron     Consumer       Karl Braun      5
4        Akron     Consumer  Maria Bertelson      1
...        ...          ...              ...    ...
4586   Yucaipa    Corporate    Odella Nelson      1
4587      Yuma    Corporate     Dario Medina      1
4588      Yuma    Corporate    Tiffany House      1
4589      Yuma  Home Office      Gary Hansen      1
4590      Yuma  Home Office    Nick Zandusky      1

[4591 rows x 4 columns]

In [72]:
# Develop targeted marketing campaigns for different customer segments
for segment, data in df.groupby('Segment'):
    # Code to develop and execute marketing campaigns for each segment
    # You can access the data for each segment using the 'data' variable
    print(f"\nTargeted Marketing Campaign for {segment}:")
    print(data.head())  # Example: Print the first few rows of data for the segment
    # Add code here to create and execute marketing campaigns for each segment

Targeted Marketing Campaign for Consumer:
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156 2017-08-11 2017-11-11    Second Class    CG-12520
1       2  CA-2017-152156 2017-08-11 2017-11-11    Second Class    CG-12520
3       4  US-2016-108966 2016-11-10 2016-10-18  Standard Class    SO-20335
4       5  US-2016-108966 2016-11-10 2016-10-18  Standard Class    SO-20335
5       6  CA-2015-115812 2015-09-06 2015-06-14  Standard Class    BH-11710

     Customer Name   Segment        Country             City  ...   Price  \
0      Claire Gute  Consumer  United States        Henderson  ...  901.06
1      Claire Gute  Consumer  United States        Henderson  ...  138.70
3   Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...  445.88
4   Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...  137.59
5  Brosina Hoffman  Consumer  United States      Los Angeles  ...  162.16

   Profit Quantity        Sales Profit Margin Month  Year  Quarter  \
0  436.58        4  3604.243977     12.112942     8  2017        3
1 -617.40       12  1664.369269    -37.095133     8  2017        3
3 -430.03       13  5796.463018     -7.418835    11  2016        4
4  -49.58       19  2614.284944     -1.896503    11  2016        4
5 -633.44       19  3081.066152    -20.559117     9  2015        3

   OrderToShipDays  Revenue
0               92  3604.24
1               92  1664.40
3              -23  5796.44
4              -23  2614.21
5              -84  3081.04

[5 rows x 28 columns]

Targeted Marketing Campaign for Corporate:
    Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
2        3  CA-2017-138688 2017-12-06 2017-06-16    Second Class    DV-13045
21      22  CA-2017-137330 2017-09-12 2017-12-13  Standard Class    KB-16585
22      23  CA-2017-137330 2017-09-12 2017-12-13  Standard Class    KB-16585
35      36  CA-2017-117590 2017-08-12 2017-10-12     First Class    GH-14485
36      37  CA-2017-117590 2017-08-12 2017-10-12     First Class    GH-14485

      Customer Name    Segment        Country         City  ...   Price  \
2   Darrin Van Huff  Corporate  United States  Los Angeles  ...  159.28
21        Ken Black  Corporate  United States      Fremont  ...  564.50
22        Ken Black  Corporate  United States      Fremont  ...   73.08
35        Gene Hale  Corporate  United States   Richardson  ...  580.41
36        Gene Hale  Corporate  United States   Richardson  ...  332.61

    Profit Quantity        Sales Profit Margin Month  Year  Quarter  \
2  -378.40       12  1911.397750    -19.797031    12  2017        4
21  410.50        8  4515.970601      9.089962     9  2017        3
22 -896.48        2   146.159702   -613.356480     9  2017        3
35 -121.76        7  4062.877937     -2.996890     8  2017        3
36 -484.19        4  1330.433705    -36.393395     8  2017        3

    OrderToShipDays  Revenue
2              -173  1911.36
21               92  4516.00
22               92   146.16
35               61  4062.87
36               61  1330.44

[5 rows x 28 columns]

Targeted Marketing Campaign for Home Office:
    Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
14      15  US-2016-118983 2016-11-22 2016-11-26  Standard Class    HP-14815
15      16  US-2016-118983 2016-11-22 2016-11-26  Standard Class    HP-14815
34      35  CA-2018-107727 2018-10-19 2018-10-23    Second Class    MA-17560
37      38  CA-2016-117415 2016-12-27 2016-12-31  Standard Class    SN-20710
38      39  CA-2016-117415 2016-12-27 2016-12-31  Standard Class    SN-20710

    Customer Name      Segment        Country        City  ...   Price  \
14  Harold Pawlan  Home Office  United States  Fort Worth  ...  725.46
15  Harold Pawlan  Home Office  United States  Fort Worth  ...  586.56
34   Matt Abelman  Home Office  United States     Houston  ...  562.08
37   Steve Nguyen  Home Office  United States     Houston  ...   75.04
38   Steve Nguyen  Home Office  United States     Houston  ...  618.75

    Profit Quantity         Sales Profit Margin Month  Year  Quarter  \
14  -77.83        1    725.455295    -10.728435    11  2016        4
15  234.81       22  12904.316310      1.819624    11  2016        4
34   61.27        3   1686.231170      3.633547    10  2018        4
37 -791.72        9    675.325882   -117.235252    12  2016        4
38 -297.09       18  11137.436000     -2.667490    12  2016        4

    OrderToShipDays   Revenue
14                4    725.46
15                4  12904.32
34                4   1686.24
37                4    675.36
38                4  11137.50

[5 rows x 28 columns]